.loading-screen {
    display: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
  }
  .loading-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .loading-spinner {
  
  }
  .loading-spin {
    object-fit: contain;
  }
  

  .form-signin {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-signin form{
    width: 330px;
  }


.skeleton {
  animation: sk 1s ease infinite alternate;
  /* background-color: #313131; */
}

@keyframes sk {
  to {
    opacity: 0.5;
  }
}
  